.btn-digit {
  display: block;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  border: 1px solid #e5e5e5;
  background: white;
  width: 72px;
  height: 72px;
  margin: 5px auto;
  color: #c0c0c0;
  font-weight: bold;
  font-size: 150%;
  -webkit-transition: -webkit-transform 0.1s ease-in-out color 0.1s ease-in-out border 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out color 0.1s ease-in-out border 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out color 0.1s ease-in-out border 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.1s ease-in-out color 0.1s ease-in-out border 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out, border 0.1s ease-in-out;
}
.btn-digit:hover {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  position: relative;
  z-index: 100;
  background: #2980B9;
  color: white;
  border: 1px solid #2472a4;
}